.experience-card-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24px);
    padding: var(--padding-32px);
    border: 1px solid transparent;
    border-radius: var(--radius-16px);
    cursor: pointer;

    transition:
        border-color 0.3s ease,
        opacity 0.3s ease,
        background-color 0.3s ease,
        filter 0.3s ease;
}

.experience-card-container:hover {
    border-color: var(--card-hover-border);
    background-color: var(--card-hover-background);
}

.experience-container:hover .experience-card-container:not(:hover) {
    opacity: 0.5;
    filter: grayscale();
}

.title-and-charge {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4px);
}

.title {
    font-family: "Fira Code", monospace;
    font-weight: bold;
    color: var(--main-text-color);
}

.charge-and-time-period {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .charge {
        color: var(--main-text-color);
        opacity: 0.8;
    }

    .time-period {
        color: var(--green-text-color);
        opacity: 1;
    }
}

.description {
    color: var(--main-text-color);
}

.techs-used {
    display: flex;
    gap: var(--gap-16px);
    flex-wrap: wrap;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--padding-4px) var(--padding-16px);
    background-color: var(--techused-background);
    font-weight: bold;
    border: none;
    border-radius: var(--radius-9999px);
}

/* Mobile - max-width: 767px */
@media (max-width: 767px) {
    .experience-card-container {
        padding: var(--padding-16px);
    }

    .charge-and-time-period {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-4px);
    }

    .charge-and-time-period .time-period {
        font-size: var(--fs-mobile-sm-12px);
    }
}
