.more-coming-soon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-32px);
}

.gif-man-saying-no {
    height: 200px;
}

.more-coming-soon-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8px);
}

.more-coming-soon-text h6 {
    font-family: "Fira Code", monospace;
    font-weight: bold;
    color: var(--main-text-color);
}

.more-coming-soon-text h2 {
    font-weight: bold;
    color: var(--green-text-color);
}

/* Mobile - max-width: 767px */
@media (max-width: 767px) {
    .more-coming-soon-container {
        flex-direction: column;
        gap: var(--gap-16px);
        text-align: center;
    }

    .gif-man-saying-no {
        height: 200px;
    }

    .more-coming-soon-text {
        align-items: center;
        gap: var(--gap-4px);
    }
}
