.projects__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-64px);
}

.projects__naliia {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24px);
}

.projects__personal {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24px);
}

.project-cards-container {
    display: flex;
    gap: var(--gap-32px);
}

.projects__graphic-design {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24px);

    a {
        display: flex;
        align-items: center;
        gap: var(--gap-8px);

        color: var(--main-text-color);
        text-decoration: underline;
        font-weight: bold;
        transition: color 0.2s;

        svg,
        path {
            fill: var(--icons-fill-white);
            transition: fill 0.2s;
        }

        &:hover {
            color: var(--green-text-color);

            svg,
            path {
                fill: var(--icons-fill-green);
            }
        }
    }
}

.projects__title-and-desc {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8px);

    h4 {
        color: var(--green-text-color);
        font-family: "Inter", sans-serif;
        font-weight: bold;
    }

    p {
        color: var(--main-text-color);
    }
}
