---
// imports
import Layout from "../layouts/Layout.astro";

// types

// props

// logic, variables, functions, etc.
---

<Layout>
    <div>Esta es una prueba del primer commit del proyecto</div>
</Layout>
