---
// imports
import Layout from "../layouts/Layout.astro";

// types

// props

// logic, variables, functions, etc.
---

<Layout>
    <h1>Welcome to my portfolio!</h1>
    <p>
        This is a simple portfolio website built with Astro. Click the button
        below to see my work experience and projects.
    </p>
</Layout>
