---
// imports
import Layout from "../layouts/Layout.astro";

// types

// props

// logic, variables, functions, etc.
---

<Layout>
    <h1>Naliia Project</h1>
    <p>
        This is a project I did for a company called Naliia, which is a startup
        that provides a platform for remote work. The project was to create a
        landing page for their website, which is still in development.
    </p>
</Layout>
