---
import Layout from "../layouts/Layout.astro";

// imports

// types

// props

// logic, variables, functions, etc.
---

<Layout>
    <div class="box"></div>
</Layout>

<script>
    import gsap from "gsap";

    gsap.to(".box", {
        x: 500,
        duration: 1,
        ease: "power3.inOut",
        repeat: -1,
        yoyo: true,
    });
</script>

<style>
    .box {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        margin: 10px;
    }
</style>
